NUXT_MONGO_URI=mongodb://localhost:27017/blind-ranking-game

NUXT_R2_ACCOUNT_ID=df08328660715096f91b486d8ddc9107
NUXT_R2_ACCESS_KEY_ID=your_r2_access_key_id_here
NUXT_R2_SECRET_ACCESS_KEY=your_r2_secret_access_key_here
NUXT_R2_BUCKET=blind-rankings
NUXT_R2_PUBLIC_URL=https://pub-09afdbc3cae549cd97d8c85edf38a49a.r2.dev
